/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
BODY STYLING
*******************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	background: #f4f4f4;
}

#wrapper {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 45%;
	margin-left: -150px;
	margin-top: -200px;
}

.menu {
	border-bottom: 1px solid #23487e;
	font-weight: bold;
	height: 30px;
	line-height: 25px;
	position: fixed;
	width: 100%;
	z-index: 300;
	background: #3b5998;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.menu .content {
	margin: 0 auto;
	padding: 0;
	width: 800px;
	color: #333;
	font-size: 11px;
}

.navitemscontainer {
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 35px;
	line-height: 34px;
	text-align: left;
	width: 800px;
}

.menu {
	font-weight: bold;
	line-height: 34px;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

span {
	white-space: pre;
}

.user .welcome {
	font-weight: normal;
	color: #fff;
}

.user {
	white-space: nowrap;
	color: #fff;
	padding-right: 50px;
}

.user .user-link {
	white-space: nowrap;
	color: #fff;
}

.navItems {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.links {
	background-color:#b0e0e6;
}

a {
	color: #3b5998;
	cursor: pointer;
	text-decoration: none;
}

a.topNavItem {
	color: #fff;
	display: block;
	float: left;
	padding: 0 15px;
}

a.logout {
	float: right;
}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.error {
	color: red;
	font-size: 15px;
}

.headers {
	position: relative;
	padding: 30px 30px;
}

.login-form .header {
	padding: 10px 10px 0px 30px;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 15px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}


/* Animation */
.input, .button {
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 5px 10px 5px 110px;
	overflow: auto;
	
	background: #e5e5e5;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/******************************************************/

.body {
	padding: 50px 0 10px 0;
}

hr {
	border: 1px;
	color: #d9d9d9;
}

.page {
	-webkit-border-image: none;
	-webkit-box-shadow: rgb(221, 221, 221) 0px 1px 1px 0px;
	
	border-radius: 3px;
	border: 1px solid rgb(217, 217, 217); 
	
	background-color: #FFFFFF;
	
	box-shadow: rgb(221, 221, 221) 0px 1px 1px 0px;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin: auto;
	max-width: 800px;
	min-height: 875px;
	padding: 25px 20px 20px;
	text-align: left;
}

.page-header {
	margin-bottom: 20px;
}

.page-header > span {
	color: #3b5998;
	font-size: 25px;
	font-weight: bold;;
}

/***********************************************************/

.inner-container {
	/*height: 200px;*/
	border: 1px solid #8794A7;
	border-radius: 5px;
	
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 25px;
	
	overflow:auto;
}

.container-header {
	color: #3b5998;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 25px;
	text-align: left;
}

.inner-container > hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(100, 100, 100, 0.2);
	margin: 10px 0px;
}

/***********************************************************/

.smallBtn {
	padding: 0px 5px;
	margin: 0 auto;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #3b5998;
	border: 1px solid #8794A7;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
}

.btn {
	padding: 2px 20px;
	margin: 0 auto;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #3b5998;
	border: 1px solid #8794A7;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 1px rgba(256,256,256,0.75);
}

.btn:hover {
	background: #6387BA;
	border: 1px solid #8794A7;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.btn:active {
	background: #9AB7DF;
	border: 1px solid #8794A7;
	
	color: #000;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/*******************************************************************/

.input {
	padding: 5px 10px;
	margin-bottom: 5px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #484848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.label {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #3b5998;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.data-item {
	background: #ebebeb;
}

.select {
   width: 150px;
   height: 20px;
   overflow: hidden;
   background: #eee;
   border: 1px solid #ccc;
   margin-bottom: 5px;
}

/**********************************************************************/

.search-form {
	position: absolute;
}

.search-form .input {
	padding: 5px 10px;
	margin-bottom: 5px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #484848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.search-form .hidden {
	visibility:hidden;	
}

.search-form .visible {
	position: absolute;
	left: 0;
	top: 0;
	width: 778px;	

}

.hidden {
	visibility:hidden;	
}

.errorMsg {
	padding: 15px 25px;
	background: #680000;
	border: 1px solid #fff;
	border-radius: 5px;
	
	color: #fff;
	
	margin: 20px 0px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.message {
	padding: 15px 25px;
	background: #3366CC;
	border: 1px solid #fff;
	border-radius: 5px;
	
	color: #fff;
	
	margin: 20px 0px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.profile {
	padding: 15px 25px;
	background: #DDD;
	border: 1px solid #fff;
	border-radius: 5px;
	
	color: #000;
	
	margin: 20px 0px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/***********************
Table Style
***********************/
table {
	border-collapse:collapse;
}

table, th, td {
	border: 1px solid black;
}

td, th {
	padding:2px 5px;
}

ol {
	margin-left: 20px;
}

p {
	margin: 10px 0px;
}